Repository vzhd1701/gridplayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
# pre-commit install
# need commit-msg hook for commitzen
# pre-commit install --hook-type commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-vcs-permalinks
    -   id: end-of-file-fixer
        exclude_types: [svg]
    -   id: trailing-whitespace
        exclude: \.(patch)$
        args: [--markdown-linebreak-ext=md]
    -   id: mixed-line-ending
        exclude_types: [svg]
        args: ['--fix=lf']
    -   id: check-toml
    -   id: check-yaml
    -   id: no-commit-to-branch

-   repo: local
    hooks:
    -   id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

    -   id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

    -   id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat
        types: [markdown]

build(translations): rebuild base
  resources/translations/en_US.ts
Due: none

build(flatpak): update build scripts
  scripts/flatpak/app_git.yml
  scripts/flatpak/app_local.yml
  scripts/flatpak/build.sh
  scripts/flatpak/build_git.sh
Due: none

support rotate and flip from VLC options
  gridplayer/multiprocess/process_manager.py
  gridplayer/params/actions.py
  gridplayer/params/menu.py
  gridplayer/params/static.py
  gridplayer/vlc_player/instance.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_frame_vlc_base.py
  gridplayer/widgets/video_frame_vlc_hw.py
  gridplayer/widgets/video_frame_vlc_hw_sp.py
  gridplayer/widgets/video_frame_vlc_sw.py
  resources/icons/custom/063-rotate-canvas-right-svgrepo-com.svg
  resources/icons/custom/064-reset-svgrepo-com.svg
  resources/resources.csv
Due: isort, black

docs(readme): add scoop install command
  README.md
Due: mdformat

docs(readme): add scoop URL
  README.md
Due: mdformat

docs(readme): add scoop install command (#142)
  README.md
Due: mdformat

fix: filter video streams only if preferred quality is configured
  gridplayer/models/stream.py
  gridplayer/widgets/video_block.py
Due: isort, black

fix: add support for relative paths
  gridplayer/models/video.py
Due: isort, black

fix: access URL directly if yt-dlp reports a direct link
  gridplayer/utils/url_resolve/resolver_yt_dlp.py
Due: isort, black

fix: update translations
  README.md
  gridplayer/params/languages.py
  resources/translations/ar_SA.ts
  resources/translations/de_DE.ts
  resources/translations/es_ES.ts
  resources/translations/fr_FR.ts
  resources/translations/hu_HU.ts
  resources/translations/it_IT.ts
  resources/translations/ja_JP.ts
  resources/translations/ko_KR.ts
  resources/translations/nl_NL.ts
  resources/translations/pl_PL.ts
  resources/translations/pt_BR.ts
  resources/translations/ru_RU.ts
  resources/translations/zh_CN.ts
Due: isort, black, mdformat

fix: avoid crash when switching to hardware SP mode
  gridplayer/widgets/video_frame_vlc_hw_sp.py
Due: isort, black

refactor: save transformation in playlist
  gridplayer/models/video.py
  gridplayer/multiprocess/process_manager.py
  gridplayer/params/actions.py
  gridplayer/params/menu.py
  gridplayer/params/static.py
  gridplayer/settings.py
  gridplayer/utils/libvlc_options_parser.py
  gridplayer/vlc_player/instance.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_frame_dummy.py
  gridplayer/widgets/video_frame_vlc_base.py
  gridplayer/widgets/video_frame_vlc_hw.py
  gridplayer/widgets/video_frame_vlc_hw_sp.py
  gridplayer/widgets/video_frame_vlc_sw.py
Due: isort, black

refactor: add transform action for [ALL]
  gridplayer/params/actions.py
  gridplayer/params/menu.py
  gridplayer/player/managers/video_blocks.py
Due: isort, black

refactor: add transform into settings dialog
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  resources/ui/settings_dialog.ui
Due: isort, black

chore: replace rotate icon
  resources/icons/custom/063-rotate-canvas-right-svgrepo-com.svg
  resources/icons/custom/063-rotate.svg
  resources/icons/custom/064-reset-svgrepo-com.svg
  resources/resources.csv
Due: none

build(pyinstaller): update MacOS build script
  scripts/pyinstaller/build_mac.sh
Due: none

fix: prevent video init freeze on MacOS
  gridplayer/vlc_player/player_base.py
Due: isort, black

fix: group instances based on options to avoid reusing wrong instance
  gridplayer/multiprocess/instance_process.py
  gridplayer/multiprocess/process_manager.py
  gridplayer/vlc_player/instance.py
  gridplayer/widgets/video_frame_vlc_sw.py
Due: isort, black

build(pyinstaller): update Windows build script
  scripts/pyinstaller/build_win.sh
Due: none

build(translation): update scripts
  scripts/translations/download.sh
  scripts/translations/strip_locations.sh
Due: none

fix: update translations
  resources/translations/ar_SA.ts
  resources/translations/de_DE.ts
  resources/translations/en_US.ts
  resources/translations/es_ES.ts
  resources/translations/fr_FR.ts
  resources/translations/hu_HU.ts
  resources/translations/it_IT.ts
  resources/translations/ja_JP.ts
  resources/translations/ko_KR.ts
  resources/translations/nl_NL.ts
  resources/translations/pl_PL.ts
  resources/translations/pt_BR.ts
  resources/translations/ru_RU.ts
  resources/translations/zh_CN.ts
Due: none

docs(changelog): update
  CHANGELOG.md
Due: mdformat

chore(release): 0.5.1
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

feat:allow rtmp protocol
  gridplayer/models/video_uri.py
Due: isort, black

fix: update yt-dlp and Streamlink
  poetry.lock
  pyproject.toml
Due: none

fix: fix compatibility with new Streamlink API
  gridplayer/utils/stream_proxy/session.py
  gridplayer/utils/stream_proxy/wrappers.py
Due: isort, black

fix: fix m3u8 format generated by HLS proxy
  gridplayer/utils/stream_proxy/m3u8.py
Due: isort, black

fix: fix relay proxy chunked encoding
  gridplayer/utils/stream_proxy/server.py
Due: isort, black

fix: retry if HLS video time is not initialized
  gridplayer/vlc_player/player_base.py
Due: isort, black

fix: show stream bitrate and codec name if parsed by yt-dlp
  gridplayer/utils/url_resolve/resolver_yt_dlp.py
Due: isort, black

docs: update changelog
  CHANGELOG.md
Due: mdformat

chore(release): 0.5.2
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

docs: update funding links
  .github/FUNDING.yml
Due: none

build(snap): update build script
  scripts/snap/snapcraft.yaml
Due: none
