Repository vzhd1701/gridplayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat

fix: avoid crash on reload (player base race condition)
  gridplayer/vlc_player/player_base.py
Due: isort, black

fix: reduce UI flicker when adding/closing videos
  gridplayer/player/managers/grid.py
Due: isort, black

refactor: change video block closing logic
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/active_block.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/widgets/video_block.py
Due: isort, black

fix: prevent overlay from showing up when video is not ready
  gridplayer/widgets/video_block.py
Due: isort, black

refactor: avoid deprecation warning
  gridplayer/widgets/video_block_status.py
Due: isort, black

chore: fix lint config
  pyproject.toml
Due: none

feat: add video loading status info
  gridplayer/utils/url_resolve/url_resolve.py
  gridplayer/vlc_player/player_base.py
  gridplayer/vlc_player/player_base_threaded.py
  gridplayer/vlc_player/video_driver_base.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_block_status.py
  gridplayer/widgets/video_frame_vlc_base.py
  gridplayer/widgets/video_frame_vlc_hw_sp.py
  gridplayer/widgets/video_status.py
  gridplayer/widgets/video_status_info.py
  gridplayer/widgets/video_status_loading.py
Due: isort, black

fix: make sure shutdown kills children first
  gridplayer/utils/excepthook.py
  gridplayer/utils/misc.py
Due: isort, black

fix: avoid sending resize events if cleanup requested (HW)
  gridplayer/widgets/video_frame_vlc_base.py
Due: isort, black

refactor: move VLC init options into property
  gridplayer/vlc_player/instance.py
Due: isort, black

fix: allow drag-n-drop between player instances
  gridplayer/models/video.py
  gridplayer/player/managers/drag_n_drop.py
  gridplayer/utils/files.py
  gridplayer/widgets/video_block.py
Due: isort, black

chore: fix network error icon
  resources/icons/custom/043-network error.svg
Due: none

build(poetry): remove obsolete lint config options
  pyproject.toml
Due: none

feat: add jump to timecode command
  gridplayer/dialogs/input_dialog.py
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/menu.py
  gridplayer/player/managers/video_blocks.py
Due: isort, black

refactor: rename SeekSyncMode.NONE to SeekSyncMode.DISABLED
  gridplayer/dialogs/settings.py
  gridplayer/params/static.py
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/menu.py
  gridplayer/settings.py
Due: isort, black

fix: avoid crash on bad enum setting
  gridplayer/settings.py
Due: isort, black

fix: improve menu style
  gridplayer/player/managers/menu.py
Due: isort, black

fix: hide bulk commands if no video can execute them
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/active_block.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/widgets/video_block.py
Due: isort, black

feat: add bulk loop commands
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/menu.py
  gridplayer/player/managers/video_blocks.py
Due: isort, black

feat: add option to shuffle video blocks
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  gridplayer/models/playlist.py
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/menu.py
  gridplayer/player/managers/playlist.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/player/player.py
  gridplayer/settings.py
  resources/ui/settings_dialog.ui
Due: isort, black

feat: add command to sync other videos by active
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/menu.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/widgets/video_block.py
Due: isort, black

feat: add jump to percent commands
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/menu.py
Due: isort, black

feat: add option to cancel when closing unsaved playlist
  gridplayer/dialogs/messagebox.py
  gridplayer/player/managers/playlist.py
  gridplayer/player/managers/window_state.py
  gridplayer/player/player.py
Due: isort, black

fix: make menu background darker in dark mode
  gridplayer/widgets/custom_menu.py
Due: isort, black

build(linux_meta): update description & formats
  scripts/linux_meta/app.appdata.xml
  scripts/linux_meta/app.desktop
Due: none

docs: update attributions & compatibility info
  README.md
  gridplayer/dialogs/about.py
Due: isort, black, mdformat

fix: update yt-dlp
  poetry.lock
  pyproject.toml
Due: none

build(pre-commit): exclude changelog from formatting
  .pre-commit-config.yaml
Due: none

docs(changelog): change format to keep-a-changelog
  CHANGELOG.md
Due: mdformat

build: add keepachangelog script
  poetry.lock
  pyproject.toml
  scripts/_local/kacl.py
Due: isort, black

build: update versionrc script
  .versionrc.js
  scripts/_helpers/kacl.py
Due: isort, black

build(windows): add entry in RegisteredApplications on install
  scripts/windows/generate_file_associations.py
Due: isort, black

docs: update screenshots
  resources/public/screenshot-002-thumb.png
  resources/public/screenshot-002.png
  resources/public/screenshot-003-thumb.png
  resources/public/screenshot-003.png
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
