Repository vzhd1701/gridplayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat

docs(readme): add info about decoder modes
  README.md
  resources/public/screenshot-x.png
Due: mdformat

build: add changelog command shortcut
  scripts/_local/changelog.sh
Due: none

docs(changelog): update
  CHANGELOG.md
Due: mdformat

refactor: make player states translateable
  gridplayer/vlc_player/player_base.py
  gridplayer/vlc_player/player_base_threaded.py
  gridplayer/vlc_player/video_driver_base.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_frame_vlc_base.py
  gridplayer/widgets/video_frame_vlc_hw_sp.py
Due: isort, black

fix: adjust about dialog size
  gridplayer/dialogs/about.py
  gridplayer/dialogs/about_dialog_ui.py
  resources/ui/about_dialog.ui
Due: isort, black

refactor: clean up translation contexts
  gridplayer/dialogs/about.py
  gridplayer/dialogs/add_urls.py
  gridplayer/dialogs/rename_dialog.py
  gridplayer/dialogs/settings.py
  gridplayer/main/run.py
  gridplayer/player/managers/add_videos.py
  gridplayer/player/managers/dialogs.py
  gridplayer/player/managers/grid.py
  gridplayer/player/managers/playlist.py
  gridplayer/player/managers/settings.py
  gridplayer/player/managers/snapshots.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/utils/qt.py
  gridplayer/widgets/video_block.py
Due: isort, black

build(translations): update ts script
  scripts/translations/build_ts.sh
Due: none

refactor: update main message
  gridplayer/player/managers/grid.py
Due: isort, black

build(translations): update source ts
  resources/translations/en_US.ts
Due: none

refactor: make url resolver messages translateable
  gridplayer/utils/url_resolve/url_resolve.py
  resources/translations/en_US.ts
Due: isort, black

build(translations): update Russian translation
  resources/translations/ru_RU.ts
Due: none

build(translations): update Hungarian translation
  resources/translations/hu_HU.ts
Due: none

build(translations): update crowdin script
  scripts/translations/download.sh
Due: none

ci(github): update release workflow
  .github/workflows/release_github.yml
  scripts/_helpers/extract_changelog.sh
Due: none

docs(changelog): move important stuff on top
  CHANGELOG.md
Due: mdformat

chore(release): 0.3.0
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

build(flatpak): fix build script
  scripts/flatpak/build_git.sh
Due: none

ci(github): update release workflow
  .github/workflows/release_github.yml
Due: none

ci(github): update flatpak workflow
  .github/workflows/release_flatpak.yml
  scripts/flatpak/build_git.sh
Due: none

ci(github): update flatpak workflow
  .github/workflows/release_flatpak.yml
  scripts/flatpak/generate_dependencies.sh
Due: none

fix: avoid exception on malformed VLC log message
  gridplayer/vlc_player/instance.py
Due: isort, black

build(appimage): update build script
  scripts/appimage/build.sh
Due: none

fix: increase init timeouts
  gridplayer/vlc_player/player_base.py
Due: isort, black

perf: skip media preparse for non-SW modes
  gridplayer/vlc_player/player_base.py
  gridplayer/vlc_player/player_base_threaded.py
  gridplayer/widgets/video_frame_vlc_hw_sp.py
  gridplayer/widgets/video_frame_vlc_sw.py
Due: isort, black

fix: increase video init timeout
  gridplayer/vlc_player/player_base.py
Due: isort, black

fix: show error if video stopped before init for non-live
  gridplayer/vlc_player/player_base.py
Due: isort, black

fix: proxify streams to use plugins session parameters
  gridplayer/models/stream.py
  gridplayer/player/managers/stream_proxy.py
  gridplayer/player/player.py
  gridplayer/utils/stream_proxy/__init__.py
  gridplayer/utils/stream_proxy/m3u8.py
  gridplayer/utils/stream_proxy/server.py
  gridplayer/utils/stream_proxy/session.py
  gridplayer/utils/stream_proxy/stream_proxy.py
  gridplayer/utils/stream_proxy/wrappers.py
  gridplayer/utils/url_resolve/resolver_base.py
  gridplayer/utils/url_resolve/resolver_streamlink.py
  gridplayer/utils/url_resolve/resolver_yt_dlp.py
  gridplayer/utils/url_resolve/static.py
  gridplayer/utils/url_resolve/stream_detect.py
  gridplayer/utils/url_resolve/url_resolve.py
  gridplayer/widgets/video_block.py
Due: isort, black

build(poetry): ignore some lint errors
  pyproject.toml
Due: none

build(windows): update VLC version
  scripts/pyinstaller/build_win.sh
Due: none

docs: update attributions
  README.md
  gridplayer/dialogs/about.py
Due: isort, black, mdformat

fix: set video aspect & scale on video load
  gridplayer/widgets/video_frame_vlc_base.py
Due: isort, black

feat: add option to limit log file size
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  gridplayer/main/init_log.py
  gridplayer/player/managers/settings.py
  gridplayer/settings.py
  gridplayer/utils/log_config.py
  resources/ui/settings_dialog.ui
Due: isort, black

feat: add setting to control URL resolver priority
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  gridplayer/models/resolver_patterns.py
  gridplayer/params/static.py
  gridplayer/settings.py
  gridplayer/utils/url_resolve/resolver_base.py
  gridplayer/utils/url_resolve/resolver_streamlink.py
  gridplayer/utils/url_resolve/resolver_yt_dlp.py
  gridplayer/utils/url_resolve/url_resolve.py
  gridplayer/widgets/resolver_patterns_list.py
  resources/ui/settings_dialog.ui
Due: isort, black

build(poetry): update linter settings
  pyproject.toml
Due: none

fix: avoid crash on bulk seek (seconds)
  gridplayer/player/managers/actions.py
Due: isort, black

fix: prevent overlay from showing above other windows (Linux)
  gridplayer/widgets/video_overlay.py
Due: isort, black

build: fix PyQt version
  poetry.lock
  pyproject.toml
Due: none

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
