Repository vzhd1701/gridplayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
# pre-commit install
# need commit-msg hook for commitzen
# pre-commit install --hook-type commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-vcs-permalinks
    -   id: end-of-file-fixer
        exclude_types: [svg]
    -   id: trailing-whitespace
        exclude: \.(patch)$
        args: [--markdown-linebreak-ext=md]
    -   id: mixed-line-ending
        exclude_types: [svg]
        args: ['--fix=lf']
    -   id: check-toml
    -   id: check-yaml
    -   id: no-commit-to-branch

-   repo: local
    hooks:
    -   id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

    -   id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

    -   id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat
        types: [markdown]

refactor: exclude resources_bin from auto formatting
  .pre-commit-config.yaml
  pyproject.toml
  scripts/qt_resources/build_resources.sh
Due: none

feat: add Russian translation
  resources/resources.csv
  resources/translations/ru_RU.ts
Due: none

refactor: add logging for translator init
  gridplayer/main/init_app.py
Due: isort, black

docs: update screenshots
  README.md
  resources/public/screenshot-001-thumb.png
  resources/public/screenshot-001.png
  resources/public/screenshot-002-thumb.png
  resources/public/screenshot-002.png
  resources/public/screenshot-003-thumb.png
  resources/public/screenshot-003.png
  resources/public/screenshot-004-thumb.png
  resources/public/screenshot-004.png
  scripts/linux_meta/app.appdata.xml
Due: mdformat

chore(release): 0.2.0
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

docs(readme): add info about translations
  README.md
Due: mdformat

ci: release to github as draft
  .github/workflows/release_github.yml
Due: none

fix: allow to switch focus using keyboard
  gridplayer/params_static.py
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/active_block.py
  gridplayer/player/player.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_overlay.py
  gridplayer/widgets/video_overlay_elements.py
Due: isort, black

fix: prevent error when opening second instance without arguments
  gridplayer/player/managers/playlist.py
  gridplayer/utils/single_instance.py
Due: isort, black

fix: handle files with uppercase extension
  gridplayer/player/managers/drag_n_drop.py
  gridplayer/player/managers/playlist.py
  gridplayer/utils/files.py
  gridplayer/utils/next_file.py
Due: isort, black

chore(release): 0.2.1
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

docs(readme): clarify bug report method
  README.md
Due: mdformat

fix: avoid crash on some setups
  gridplayer/player/managers/grid.py
Due: isort, black

feat: add option to control warning about unsaved playlist changes
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  gridplayer/player/managers/playlist.py
  gridplayer/settings.py
  resources/ui/settings_dialog.ui
Due: isort, black

fix: unpause videos when window is restored
  gridplayer/player/managers/window_state.py
Due: isort, black

refactor: reset unpaused videos state
  gridplayer/player/managers/window_state.py
Due: isort, black

chore(release): 0.2.2
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

docs(readme): add info about Hungarian translation
  README.md
Due: mdformat

fix: change title when switching to next/previous file
  gridplayer/utils/next_file.py
  gridplayer/widgets/video_block.py
Due: isort, black

chore: add donation link
  .github/FUNDING.yml
Due: none

chore: fix donation links
  .github/FUNDING.yml
Due: none

feat: add support for audio files
  gridplayer/params_static.py
  gridplayer/player/managers/add_videos.py
  gridplayer/utils/next_file.py
  gridplayer/video.py
Due: isort, black

refactor: fix regression
  gridplayer/vlc_player/player_base.py
Due: isort, black

refactor: add PYINSTALLER_LIB_ROOT env variable for convenience
  gridplayer/main/init_translator.py
  gridplayer/params_env.py
Due: isort, black

refactor: move plugin url list into variable
  gridplayer/player/managers/add_videos.py
  gridplayer/utils/url_resolve/static.py
  gridplayer/utils/url_resolve/url_resolve.py
Due: isort, black

refactor: try next url resolver if one fails
  gridplayer/utils/url_resolve/resolver_streamlink.py
  gridplayer/utils/url_resolve/resolver_yt_dlp.py
  gridplayer/utils/url_resolve/url_resolve.py
Due: isort, black

refactor: fix regression
  gridplayer/player/managers/active_block.py
Due: isort, black

perf: speed up vlc player termination
  gridplayer/vlc_player/instance.py
  gridplayer/vlc_player/player_base.py
Due: isort, black

refactor: add sys.path into debug log
  gridplayer/utils/log.py
Due: isort, black

fix: init instance listener early to ensure single instance
  gridplayer/player/managers/instance_listener.py
  gridplayer/player/managers/window_state.py
  gridplayer/player/player.py
  gridplayer/utils/single_instance.py
Due: isort, black

fix: add videos to current playlist when parsing arguments
  gridplayer/player/managers/playlist.py
  gridplayer/player/player.py
Due: isort, black

refactor: remove unused load_video_display signal
  gridplayer/vlc_player/player_base.py
  gridplayer/vlc_player/player_base_threaded.py
  gridplayer/vlc_player/video_driver_base.py
  gridplayer/widgets/video_frame_vlc_base.py
  gridplayer/widgets/video_frame_vlc_hw_sp.py
Due: isort, black

refactor: log OS release version
  gridplayer/utils/log.py
Due: isort, black

refactor: fix regression
  gridplayer/widgets/video_frame_vlc_hw_sp.py
Due: isort, black

fix: use certifi CA file with VLC on Windows 7
  gridplayer/vlc_player/instance.py
Due: isort, black

build: update windows build scripts
  scripts/_local/windows.sh
  scripts/pyinstaller/build_win.sh
  scripts/pyinstaller/hook_lib.py
  scripts/pyinstaller/pyinstaller_win.spec
  scripts/windows/build_packages.sh
  scripts/windows/generate_file_associations.py
  scripts/windows/installer.iss
Due: isort, black
