Repository vzhd1701/gridplayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
# pre-commit install
# need commit-msg hook for commitzen
# pre-commit install --hook-type commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-vcs-permalinks
    -   id: end-of-file-fixer
        exclude_types: [svg]
    -   id: trailing-whitespace
        exclude: \.(patch)$
        args: [--markdown-linebreak-ext=md]
    -   id: mixed-line-ending
        exclude_types: [svg]
        args: ['--fix=lf']
    -   id: check-toml
    -   id: check-yaml
    -   id: no-commit-to-branch

-   repo: local
    hooks:
    -   id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

    -   id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

    -   id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat
        types: [markdown]

build: add native Apple Silicon (arm64) macOS build support
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  justfile
  scripts/init_app_vars.sh
  scripts/macos/_init_local_env.sh
  scripts/macos/build_dmg.sh
  scripts/pyinstaller/build_mac.sh
  scripts/pyinstaller/pyinstaller_mac.spec
Due: mdformat

fix: show Qt version in about directly from library itself
  gridplayer/dialogs/about.py
Due: isort, black

build(justfile): build universal requirements.txt
  justfile
Due: none

build: update PyQt5-Qt5 for linux and mac
  pyproject.toml
  uv.lock
Due: none

build(snapcraft): update build script
  scripts/snap/snapcraft.yaml
Due: none

build(justfile): add explicit arch variable for intel mac build
  justfile
Due: none

build: skip code signing for create-dmg
  scripts/macos/build_dmg.sh
Due: none

ci(github): update actions
  .github/workflows/release_flatpak.yml
  .github/workflows/release_github.yml
  .github/workflows/release_pypi.yml
  .github/workflows/release_snap.yml
  .github/workflows/update_crowdin.yml
Due: none

build(justfile): add update-actions
  justfile
Due: none

build: update uv.lock on version bump
  .versionrc.js
Due: none

docs(readme): format
  README.md
Due: mdformat

chore(release): 0.5.5
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
  uv.lock
Due: isort, black, mdformat

build(flatpak): update git script
  scripts/flatpak/build_git.sh
Due: none

build(flatpak): add option to release for custom commit
  .github/workflows/release_flatpak.yml
  scripts/flatpak/build_git.sh
Due: none

build(pyproject): add explicit license file
  pyproject.toml
Due: none

ci(github): update flatpak workflow
  .github/workflows/release_flatpak.yml
Due: none

build(flatpak): update script
  scripts/flatpak/build_git.sh
Due: none

fix: handle invalid track metadata and duplicate closes
  gridplayer/vlc_player/player_base.py
  gridplayer/vlc_player/player_tracks_manager.py
  gridplayer/widgets/video_block.py
  tests/test_vlc_player_tracks_manager.py
Due: isort, black

build: fix release workflow
  .versionrc.js
  pyproject.toml
  scripts/_helpers/kacl.py
  uv.lock
Due: isort, black

build(justfile): add release, fix changelog
  justfile
Due: none

build: replace mdformat with rumdl
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  pyproject.toml
  uv.lock
Due: mdformat

build: update pre-commit-hooks
  .pre-commit-config.yaml
Due: none

build: always use --frozen on run uv
  .pre-commit-config.yaml
  scripts/qt_resources/build_resources.sh
  scripts/qt_resources/build_ui.sh
  scripts/translations/build_ts.sh
  scripts/translations/update_contributors.sh
Due: none

build: drop version specifiers for dev
  pyproject.toml
  uv.lock
Due: none

build: add chocolatey scripts
  justfile
  scripts/chocolatey/build.sh
  scripts/chocolatey/chocolateyBeforeModify.ps1
  scripts/chocolatey/chocolateyInstall.install.ps1
  scripts/chocolatey/chocolateyInstall.portable.ps1
  scripts/chocolatey/chocolateyUninstall.portable.ps1
  scripts/chocolatey/template.nuspec
Due: none

fix: handle invalid track metadata and duplicate closes (#319)
  gridplayer/vlc_player/player_base.py
  gridplayer/vlc_player/player_tracks_manager.py
  gridplayer/widgets/video_block.py
  tests/test_vlc_player_tracks_manager.py
Due: isort, black

build: fix pyproject
  pyproject.toml
Due: none

build: ruff check --fix ui files after generation
  scripts/qt_resources/build_ui.sh
Due: none

build: ignore E402 for ui files
  pyproject.toml
Due: none

fix: avoid crash for menu with custom style
  gridplayer/widgets/custom_menu.py
Due: isort, black

refactor: ruff format
  gridplayer/vlc_player/player_tracks_manager.py
  tests/test_vlc_player_tracks_manager.py
Due: isort, black

build(pre-commit): ruff format only changed files
  .pre-commit-config.yaml
Due: none

fix: improve missing libvlc handling
  gridplayer/utils/libvlc.py
Due: isort, black

build(pyproject): add pytest-cov and pytest-mock to dev
  pyproject.toml
Due: none

fix: avoid memory leaks on menus
  gridplayer/player/managers/menu.py
Due: isort, black

build: update uv.lock
  uv.lock
Due: none

feat: add shortcuts editor
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  gridplayer/models/playlist.py
  gridplayer/params/actions.py
  gridplayer/params/menu.py
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/playlist.py
  gridplayer/player/managers/settings.py
  gridplayer/player/managers/single_mode.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/player/player.py
  gridplayer/settings.py
  gridplayer/utils/keymap.py
  gridplayer/widgets/keymap_tree_view.py
  gridplayer/widgets/video_block.py
  resources/ui/settings_dialog.ui
  tests/test_keymap.py
Due: isort, black
