Repository vzhd1701/gridplayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat

build: update pyinstaller
  scripts/pyinstaller/build_mac.sh
  scripts/pyinstaller/build_win.sh
  scripts/pyinstaller/pyinstaller_win.spec
Due: none

build: update VLC version
  scripts/pyinstaller/build_mac.sh
  scripts/pyinstaller/build_win.sh
Due: none

build: update appimage build script
  scripts/appimage/build.sh
  scripts/appimage/build_docker.sh
Due: none

ci(github): update release workflow
  .github/workflows/release_github.yml
Due: none

build: update pyqt
  poetry.lock
  pyproject.toml
Due: none

build: fix mac build script
  scripts/pyinstaller/build_mac.sh
Due: none

docs(changelog): update
  CHANGELOG.md
Due: mdformat

docs(readme): clarify installation help
  README.md
Due: mdformat

chore(release): 0.5.4
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

build: fix flatpak build script
  scripts/flatpak/generate_dependencies.sh
Due: none

build: add trace to flatpak build scripts
  scripts/flatpak/build.sh
  scripts/flatpak/build_git.sh
  scripts/flatpak/generate_dependencies.sh
Due: none

add: flow to build Windows 32 bit version
  .github/workflows/release_github.yml
  scripts/pyinstaller/build_win.sh
  scripts/windows/build_packages.sh
Due: none

fix: build on linux, add: info to setup dev environment
  DEV.md
  poetry.lock
  pyproject.toml
Due: mdformat

fix: python version
  poetry.lock
  pyproject.toml
Due: none

update: dev setup info
  DEV.md
  pyproject.toml
Due: mdformat

build: fix macos build script
  .github/workflows/release_github.yml
  scripts/pyinstaller/pyinstaller_mac.spec
Due: none

build: update pyinstaller version
  scripts/pyinstaller/build_mac.sh
Due: none

build: fix macos build script
  scripts/pyinstaller/build_mac.sh
Due: none

build: fix macos pyinstaller spec
  scripts/pyinstaller/pyinstaller_mac.spec
Due: none

docs: drop DEV.md since we got CONTRIBUTING.md now
  DEV.md
Due: mdformat

build: update windows release workflow
  .github/workflows/release_github.yml
  scripts/pyinstaller/build_win.sh
Due: none

docs: update dependencies for dev
  CONTRIBUTING.md
Due: mdformat

docs: add local build on Ubuntu
  CONTRIBUTING.md
Due: mdformat

feat: vietnamese translation
  CONTRIBUTING.md
  gridplayer/params/languages.py
  gridplayer/resources_bin.py
  resources/icons/flags/vi_VN.svg
  resources/resources.csv
  resources/translations/vi_VN.ts
Due: isort, black, mdformat

Update video.py
  gridplayer/models/video.py
Due: isort, black

Update video_uri.py
  gridplayer/models/video_uri.py
Due: isort, black

Update build_win.sh
  scripts/pyinstaller/build_win.sh
Due: none

fix: #292
  gridplayer/utils/stream_proxy/wrappers.py
  gridplayer/utils/url_resolve/stream_detect.py
Due: isort, black

Add keyboard shortcuts for volume and mute controls
  gridplayer/params/actions.py
Due: isort, black

Fall back to system VLC when embedded libVLC is missing (macOS)
  gridplayer/utils/libvlc.py
  gridplayer/utils/libvlc_fixer.py
Due: isort, black

Update README.md
  README.md
Due: mdformat

Create update_crowdin.yml
  .github/workflows/update_crowdin.yml
Due: none

docs(readme): update crowdin contributors table
  README.md
Due: mdformat

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
