Repository vzhd1701/gridplayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
# pre-commit install
# need commit-msg hook for commitzen
# pre-commit install --hook-type commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-vcs-permalinks
    -   id: end-of-file-fixer
        exclude_types: [svg]
    -   id: trailing-whitespace
        exclude: \.(patch)$
        args: [--markdown-linebreak-ext=md]
    -   id: mixed-line-ending
        exclude_types: [svg]
        args: ['--fix=lf']
    -   id: check-toml
    -   id: check-yaml
    -   id: no-commit-to-branch

-   repo: local
    hooks:
    -   id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

    -   id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

    -   id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat
        types: [markdown]

build: update streamlink
  poetry.lock
  pyproject.toml
Due: none

build: update yt-dlp
  poetry.lock
  pyproject.toml
Due: none

fix: use same visual style for every OS
  gridplayer/dialogs/settings.py
  gridplayer/main/init_app.py
  gridplayer/widgets/resolver_patterns_list.py
Due: isort, black

fix: improve settings index style
  gridplayer/dialogs/exception_dialog_ui.py
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  resources/ui/settings_dialog.ui
Due: isort, black

fix: add header title for file dialogs
  gridplayer/player/managers/add_videos.py
  gridplayer/player/managers/playlist.py
Due: isort, black

build: update blacklist script
  scripts/_helpers/blacklist_clean.sh
  scripts/_helpers/blacklist_pyqt.txt
Due: none

build(appimage): redo build script using manylinux2014 docker image
  .github/workflows/release_github.yml
  gridplayer/utils/libvlc.py
  scripts/_helpers/blacklist_vlc_linux.txt
  scripts/_local/appimage.sh
  scripts/appimage/AppRun
  scripts/appimage/app.yml
  scripts/appimage/build.sh
  scripts/appimage/build_docker.sh
Due: isort, black

build(snap): redo build script using kde-neon extension
  scripts/_helpers/blacklist_snap.txt
  scripts/snap/build.sh
  scripts/snap/snapcraft.yaml
Due: none

docs(readme): update streamlink & yt-dlp supported plugins links
  README.md
Due: mdformat

feat: add paste button to add urls dialog
  gridplayer/dialogs/add_urls.py
Due: isort, black

fix: ignore empty patterns for resolver priority
  gridplayer/models/resolver_patterns.py
Due: isort, black

refactor: handle http server log messages via main log
  gridplayer/utils/stream_proxy/server.py
Due: isort, black

fix: show black screen instead of error on pause snapshot fail
  gridplayer/vlc_player/player_base.py
  gridplayer/widgets/video_frame_vlc_base.py
Due: isort, black

refactor: make settings available from subprocess
  gridplayer/main/init_app_env.py
  gridplayer/multiprocess/instance_process.py
  gridplayer/settings.py
Due: isort, black

feat: add video init timeout setting
  gridplayer/dialogs/settings.py
  gridplayer/settings.py
  gridplayer/vlc_player/player_base.py
Due: isort, black

refactor: avoid deprecation warning
  gridplayer/widgets/video_status_info.py
Due: isort, black

feat: add setting for custom VLC options
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  gridplayer/player/managers/settings.py
  gridplayer/settings.py
  gridplayer/vlc_player/instance.py
  resources/ui/settings_dialog.ui
Due: isort, black

refactor: remove generic Auto special text
  gridplayer/dialogs/input_dialog.py
  gridplayer/dialogs/settings.py
  gridplayer/player/managers/grid.py
Due: isort, black

feat: add option to set auto reload timer for live videos
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  gridplayer/models/video.py
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/active_block.py
  gridplayer/player/managers/menu.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/settings.py
  gridplayer/widgets/video_block.py
  resources/ui/settings_dialog.ui
Due: isort, black

fix: make font size same for every OS
  gridplayer/main/init_app.py
  gridplayer/params/static.py
  gridplayer/player/managers/grid.py
Due: isort, black

feat: add setting to show overlay border for active video
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  gridplayer/settings.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_overlay.py
  gridplayer/widgets/video_overlay_elements.py
  resources/ui/settings_dialog.ui
Due: isort, black

refactor: remove default font argument
  gridplayer/main/init_app.py
  gridplayer/params/static.py
Due: isort, black

fix: change selection background color for language list
  gridplayer/widgets/language_list.py
Due: isort, black

refactor: fix translateable strings
  gridplayer/dialogs/settings_dialog_ui.py
  gridplayer/widgets/resolver_patterns_list.py
  resources/ui/settings_dialog.ui
Due: isort, black

docs(changelog): update
  CHANGELOG.md
Due: mdformat

ci(github): update release workflow
  .github/workflows/release_github.yml
Due: none

build(snap): update script
  scripts/snap/apt_dl.sh
  scripts/snap/build.sh
  scripts/snap/snapcraft.yaml
Due: none

build(snap): update script
  scripts/snap/snapcraft.yaml
Due: none

chore(release): 0.4.0
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

build(flatpak): update build script
  scripts/_local/flatpak.sh
  scripts/flatpak/app_git.yml
  scripts/flatpak/app_local.yml
  scripts/flatpak/build.sh
  scripts/flatpak/dependencies/pyqt.yml
  scripts/flatpak/generate_dependencies.sh
Due: none

fix: fix transparency mask for opaque overlay
  gridplayer/widgets/video_overlay.py
  gridplayer/widgets/video_overlay_elements.py
Due: isort, black

fix: add fix for overlay appearing on top of other windows (Linux)
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  gridplayer/player/managers/settings.py
  gridplayer/settings.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_overlay.py
  resources/ui/settings_dialog.ui
Due: isort, black

build(flatpak): update build script
  scripts/flatpak/dependencies/pyqt.yml
Due: none

chore(release): 0.4.1
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

build(appimage): fix linuxdeploy version
  scripts/appimage/build_docker.sh
Due: none

fix: prevent timeout when loading HLS streams directly
  gridplayer/utils/aspect_calc.py
  gridplayer/vlc_player/player_base.py
  gridplayer/widgets/video_frame_vlc_sw.py
Due: isort, black

fix: improve overlay workarounds for Linux
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_overlay.py
  gridplayer/widgets/video_overlay_elements.py
Due: isort, black
