Repository vzhd1701/gridplayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
# pre-commit install
# need commit-msg hook for commitzen
# pre-commit install --hook-type commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-vcs-permalinks
    -   id: end-of-file-fixer
        exclude_types: [svg]
    -   id: trailing-whitespace
        exclude: \.(patch)$
        args: [--markdown-linebreak-ext=md]
    -   id: mixed-line-ending
        exclude_types: [svg]
        args: ['--fix=lf']
    -   id: check-toml
    -   id: check-yaml
    -   id: no-commit-to-branch

-   repo: local
    hooks:
    -   id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

    -   id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

    -   id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat
        types: [markdown]

docs(changelog): update
  CHANGELOG.md
Due: mdformat

chore(release): 0.4.2
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

fix: prevent video from double initialization
  gridplayer/vlc_player/player_base.py
Due: isort, black

build(windows): add missing VLC plugins
  scripts/pyinstaller/build_win.sh
Due: none

build(poetry): update yt-dlp
  poetry.lock
  pyproject.toml
Due: none

build: update changelog helper script
  scripts/_local/changelog.sh
Due: none

chore(release): 0.4.3
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

build(appimage): add AppRun.c
  scripts/appimage/AppRun.c
Due: none

build(appimage): fix env variables in AppRun.c
  scripts/appimage/AppRun.c
Due: none

build(appimage): update build script
  scripts/_local/appimage.sh
  scripts/appimage/AppRun
  scripts/appimage/build_docker.sh
Due: none

build(meta): update desktop exec command to accept URL list
  scripts/linux_meta/app.desktop
Due: none

refactor: split language stuff into separate module
  gridplayer/dialogs/about.py
  gridplayer/dialogs/settings.py
  gridplayer/params/languages.py
  gridplayer/params/static.py
  gridplayer/settings.py
  gridplayer/widgets/language_list.py
  pyproject.toml
Due: isort, black

fix: avoid wide text cramming on main screen
  gridplayer/player/managers/grid.py
Due: isort, black

fix: terminate child processes on app exit (Windows)
  gridplayer/utils/misc.py
Due: isort, black

build: use jsdelivr CDN for screenshots in meta
  scripts/init_app_vars.sh
  scripts/linux_meta/app.appdata.xml
Due: none

ci(github): add checksums to release assets
  .github/workflows/release_github.yml
Due: none

build: update crowdin scripts
  scripts/translations/download.sh
  scripts/translations/upload.sh
Due: none

fix: loop videos via VLC playlist to avoid abrupt video stop
  gridplayer/params/static.py
  gridplayer/vlc_player/instance.py
  gridplayer/vlc_player/player_base.py
  gridplayer/vlc_player/player_base_threaded.py
  gridplayer/vlc_player/video_driver_base.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_frame_vlc_base.py
  gridplayer/widgets/video_frame_vlc_hw_sp.py
Due: isort, black

fix: prevent missing overlay in SW mode
  gridplayer/widgets/video_block.py
Due: isort, black

feat: add stay on top setting
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  gridplayer/player/managers/settings.py
  gridplayer/player/managers/window_state.py
  gridplayer/settings.py
  resources/ui/settings_dialog.ui
Due: isort, black

Add license scan report and status
  README.md
Due: mdformat

feat: add option to select audio/video track
  gridplayer/models/video.py
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/active_block.py
  gridplayer/player/managers/dialogs.py
  gridplayer/player/managers/menu.py
  gridplayer/vlc_player/player_base.py
  gridplayer/vlc_player/player_tracks_manager.py
  gridplayer/vlc_player/static.py
  gridplayer/vlc_player/video_driver_base.py
  gridplayer/vlc_player/video_driver_base_threaded.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_frame_dummy.py
  gridplayer/widgets/video_frame_vlc_base.py
  gridplayer/widgets/video_frame_vlc_hw.py
  gridplayer/widgets/video_frame_vlc_hw_sp.py
  gridplayer/widgets/video_frame_vlc_sw.py
  resources/icons/custom/050-track.svg
  resources/resources.csv
Due: isort, black

fix: fix icon glitches
  resources/icons/custom/038-loop dir shuffle.svg
  resources/icons/custom/041-audio only.svg
Due: none

build: update linter settings
  pyproject.toml
Due: none

fix: avoid moving overlay during paintEvent to prevent app crash
  gridplayer/widgets/video_overlay.py
Due: isort, black

refactor: ignore harmless Qt warning
  gridplayer/utils/log_config.py
  gridplayer/utils/qt.py
Due: isort, black

feat: add option to select audio mode (stereo, mono, etc)
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  gridplayer/models/video.py
  gridplayer/params/static.py
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/active_block.py
  gridplayer/player/managers/menu.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/settings.py
  gridplayer/vlc_player/player_base.py
  gridplayer/vlc_player/video_driver_base.py
  gridplayer/vlc_player/video_driver_base_threaded.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_frame_dummy.py
  gridplayer/widgets/video_frame_vlc_base.py
  gridplayer/widgets/video_frame_vlc_hw_sp.py
  resources/resources.csv
  resources/ui/settings_dialog.ui
Due: isort, black

refactor: lint
  gridplayer/widgets/video_frame_vlc_sw.py
Due: isort, black

feat: add option to paste files/links from clipboard
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/add_videos.py
  gridplayer/player/managers/drag_n_drop.py
  gridplayer/player/managers/menu.py
  gridplayer/utils/files.py
  resources/icons/custom/051-add url.svg
  resources/icons/custom/052-media file.svg
  resources/resources.csv
Due: isort, black

fix: use different font color for disabled context menu entries
  gridplayer/widgets/custom_menu.py
Due: isort, black

feat: add recent list support for videos/playlists
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  gridplayer/models/recent_list.py
  gridplayer/models/video.py
  gridplayer/models/video_uri.py
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/add_videos.py
  gridplayer/player/managers/menu.py
  gridplayer/player/managers/playlist.py
  gridplayer/player/managers/recent_list.py
  gridplayer/player/managers/settings.py
  gridplayer/player/player.py
  gridplayer/settings.py
  gridplayer/utils/url_resolve/resolver_base.py
  gridplayer/utils/url_resolve/resolver_streamlink.py
  gridplayer/utils/url_resolve/resolver_yt_dlp.py
  gridplayer/utils/url_resolve/url_resolve.py
  gridplayer/widgets/video_block.py
  resources/icons/custom/053-recent list.svg
  resources/resources.csv
  resources/ui/settings_dialog.ui
Due: isort, black

fix: make context menu scrollable if it exceeds screen size
  gridplayer/widgets/custom_menu.py
Due: isort, black

fix: avoid rare exception on app close
  gridplayer/utils/misc.py
Due: isort, black

feat: add option to select audio only stream when available
  gridplayer/dialogs/settings.py
  gridplayer/models/stream.py
  gridplayer/player/managers/active_block.py
  gridplayer/utils/url_resolve/resolver_streamlink.py
  gridplayer/utils/url_resolve/resolver_yt_dlp.py
  gridplayer/vlc_player/player_base.py
  gridplayer/vlc_player/player_tracks_manager.py
  gridplayer/vlc_player/static.py
  gridplayer/widgets/video_block.py
Due: isort, black

fix: hide FPS from track description if it's empty
  gridplayer/vlc_player/static.py
Due: isort, black

refactor: move actions into static params
  gridplayer/params/actions.py
  gridplayer/player/managers/actions.py
  pyproject.toml
Due: isort, black

refactor: move menu into static params
  gridplayer/params/menu.py
  gridplayer/player/managers/menu.py
Due: isort, black

fix: reorganize context menu
  gridplayer/params/actions.py
  gridplayer/params/menu.py
  resources/icons/custom/051-add url.svg
  resources/icons/custom/054-video.svg
  resources/icons/custom/055-stereo mode.svg
  resources/icons/custom/056-playback.svg
  resources/resources.csv
Due: isort, black
