Repository vzhd1701/gridplayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
# pre-commit install
# need commit-msg hook for commitzen
# pre-commit install --hook-type commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-vcs-permalinks
    -   id: end-of-file-fixer
        exclude_types: [svg]
    -   id: trailing-whitespace
        exclude: \.(patch)$
        args: [--markdown-linebreak-ext=md]
    -   id: mixed-line-ending
        exclude_types: [svg]
        args: ['--fix=lf']
    -   id: check-toml
    -   id: check-yaml
    -   id: no-commit-to-branch

-   repo: local
    hooks:
    -   id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

    -   id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

    -   id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat
        types: [markdown]

build(flatpak): fix local script
  scripts/flatpak/build.sh
Due: none

fix: prevent accidental playlist overwrite if placeholder is not available
  gridplayer/player.py
Due: isort, black

fix: show better message if VLC is not installed
  gridplayer/__main__.py
Due: isort, black

fix: add KDE black screen bug fix setting
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  gridplayer/dialogs/settings_ui.py
  gridplayer/player.py
  resources/ui/settings_dialog.ui
Due: isort, black

docs(readme): add info about known issues
  README.md
  resources/public/screenshot-x.png
Due: mdformat

ci: add issue templates
  .github/ISSUE_TEMPLATE/bug_template.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

build(resources): add support for dark mode icons
  resources/resources.csv
  resources/resources.qrc
  scripts/_helpers/build_resources.sh
  scripts/qt_resources/build_resources.py
  scripts/qt_resources/build_resources.sh
  scripts/qt_resources/build_ui.sh
Due: isort, black

chore: fix question icon
  resources/icons/custom/030-question.svg
Due: none

refactor: clean up redundant dialog file
  gridplayer/dialogs/about.py
  gridplayer/dialogs/about_ui.py
  gridplayer/dialogs/exception.py
  gridplayer/dialogs/exception_ui.py
Due: isort, black

style: remove comments from generated ui files
  gridplayer/dialogs/about_dialog_ui.py
  gridplayer/dialogs/exception_dialog_ui.py
  gridplayer/dialogs/settings_dialog_ui.py
Due: isort, black

build(resources): auto remove comments when generating ui files
  scripts/qt_resources/build_ui.sh
Due: none

refactor: remove unnecessary print statements
  gridplayer/video_frame_vlc_sw.py
Due: isort, black

build(pyinstaller): refactor
  scripts/init_app_vars.sh
  scripts/pyinstaller/build_mac.sh
  scripts/pyinstaller/build_win.sh
Due: none

chore(release): 0.1.1
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

build(snap): disable info fields to avoid manual review
  scripts/snap/snapcraft.yaml
Due: none

refactor: utils
  gridplayer/__main__.py
  gridplayer/player.py
  gridplayer/settings.py
  gridplayer/utils/command_loop.py
  gridplayer/utils/darkmode.py
  gridplayer/utils/keepawake.py
  gridplayer/utils/log.py
  gridplayer/utils/log_config.py
  gridplayer/utils/macos.py
  gridplayer/utils/multiprocessing.py
  gridplayer/utils/process_manager.py
  gridplayer/utils/safe_shared_memory.py
  gridplayer/utils/single_instance.py
  gridplayer/video_frame_vlc_base.py
  gridplayer/video_frame_vlc_sw.py
  pyproject.toml
Due: isort, black

refactor: dialogs
  gridplayer/dialogs/about.py
  gridplayer/dialogs/exception.py
  gridplayer/dialogs/messagebox.py
  gridplayer/dialogs/settings.py
  pyproject.toml
Due: isort, black

fix: fix random loop context menu icon
  gridplayer/player/mixins/menu.py
Due: isort, black

refactor: fix bugs
  gridplayer/player/player.py
  gridplayer/widgets/video_block.py
Due: isort, black

refactor: transform screensaver mixin to manager
  gridplayer/player/mixins/__init__.py
  gridplayer/player/mixins/screensaver.py
  gridplayer/player/mixins/settings.py
  gridplayer/player/mixins/video_blocks.py
  gridplayer/player/player.py
  gridplayer/utils/keepawake.py
Due: isort, black

refactor: move exceptions to separate module
  gridplayer/exceptions.py
  gridplayer/player/player.py
  gridplayer/widgets/video_block.py
Due: isort, black

refactor: transform mouse hider mixin to manager
  gridplayer/main/init_app.py
  gridplayer/main/run.py
  gridplayer/player/mixins/__init__.py
  gridplayer/player/mixins/commands.py
  gridplayer/player/mixins/menu.py
  gridplayer/player/mixins/minor.py
  gridplayer/player/mixins/mouse_hider.py
  gridplayer/player/mixins/playlist.py
  gridplayer/player/mixins/settings.py
  gridplayer/player/mixins/video_blocks.py
  gridplayer/player/player.py
  gridplayer/utils/misc.py
Due: isort, black

refactor: transform drag n drop mixin to manager
  gridplayer/main/init_app.py
  gridplayer/player/managers/__init__.py
  gridplayer/player/managers/active_block.py
  gridplayer/player/managers/drag_n_drop.py
  gridplayer/player/managers/mouse_hide.py
  gridplayer/player/managers/screensaver.py
  gridplayer/player/managers/video_driver.py
  gridplayer/player/mixins/__init__.py
  gridplayer/player/mixins/drag_n_drop.py
  gridplayer/player/mixins/playlist.py
  gridplayer/player/mixins/video_blocks.py
  gridplayer/player/player.py
  gridplayer/utils/files.py
  gridplayer/utils/misc.py
Due: isort, black

refactor: transform single mode mixin to manager
  gridplayer/player/managers/active_block.py
  gridplayer/player/managers/single_mode.py
  gridplayer/player/mixins/__init__.py
  gridplayer/player/mixins/grid.py
  gridplayer/player/mixins/menu.py
  gridplayer/player/mixins/single_mode.py
  gridplayer/player/mixins/video_blocks.py
  gridplayer/player/player.py
Due: isort, black

refactor: add manager for managers
  gridplayer/player/managers/active_block.py
  gridplayer/player/managers/managers.py
  gridplayer/player/mixins/video_blocks.py
  gridplayer/player/player.py
Due: isort, black

refactor: split menu mixin into menu & actions managers
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/active_block.py
  gridplayer/player/managers/base.py
  gridplayer/player/managers/drag_n_drop.py
  gridplayer/player/managers/managers.py
  gridplayer/player/managers/menu.py
  gridplayer/player/managers/mouse_hide.py
  gridplayer/player/managers/screensaver.py
  gridplayer/player/managers/single_mode.py
  gridplayer/player/managers/video_driver.py
  gridplayer/player/mixins/__init__.py
  gridplayer/player/mixins/menu.py
  gridplayer/player/player.py
Due: isort, black

refactor: transform settings mixin into manager
  gridplayer/player/managers/settings.py
  gridplayer/player/mixins/minor.py
  gridplayer/player/mixins/settings.py
  gridplayer/player/player.py
Due: isort, black

refactor: add window state manager
  gridplayer/player/managers/window_state.py
  gridplayer/player/mixins/__init__.py
  gridplayer/player/mixins/commands.py
  gridplayer/player/mixins/minor.py
  gridplayer/player/mixins/playlist.py
  gridplayer/player/player.py
Due: isort, black

refactor: transform playlist mixin into manager
  gridplayer/main/init_app.py
  gridplayer/main/init_utils.py
  gridplayer/main/run.py
  gridplayer/player/managers/instance_listener.py
  gridplayer/player/managers/macos_fileopen.py
  gridplayer/player/managers/managers.py
  gridplayer/player/managers/playlist.py
  gridplayer/player/managers/window_state.py
  gridplayer/player/mixins/__init__.py
  gridplayer/player/mixins/commands.py
  gridplayer/player/mixins/grid.py
  gridplayer/player/mixins/playlist.py
  gridplayer/player/mixins/video_blocks.py
  gridplayer/player/player.py
Due: isort, black

refactor: get rid of minor & command mixins
  gridplayer/player/managers/active_block.py
  gridplayer/player/managers/add_videos.py
  gridplayer/player/managers/dialogs.py
  gridplayer/player/managers/drag_n_drop.py
  gridplayer/player/managers/log.py
  gridplayer/player/managers/menu.py
  gridplayer/player/managers/playlist.py
  gridplayer/player/mixins/__init__.py
  gridplayer/player/mixins/commands.py
  gridplayer/player/mixins/grid.py
  gridplayer/player/mixins/minor.py
  gridplayer/player/mixins/video_blocks.py
  gridplayer/player/player.py
Due: isort, black

refactor: transform grid mixin into manager
  gridplayer/player/managers/grid.py
  gridplayer/player/managers/managers.py
  gridplayer/player/managers/window_state.py
  gridplayer/player/mixins/__init__.py
  gridplayer/player/mixins/video_blocks.py
  gridplayer/player/player.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_overlay.py
Due: isort, black

refactor: transform video blocks mixin into manager
  gridplayer/player/manager.py
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/active_block.py
  gridplayer/player/managers/drag_n_drop.py
  gridplayer/player/managers/grid.py
  gridplayer/player/managers/menu.py
  gridplayer/player/managers/mouse_hide.py
  gridplayer/player/managers/playlist.py
  gridplayer/player/managers/settings.py
  gridplayer/player/managers/single_mode.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/player/managers/video_driver.py
  gridplayer/player/mixins/__init__.py
  gridplayer/player/player.py
Due: isort, black

refactor: transform video_blocks dict into list
  gridplayer/player/managers/active_block.py
  gridplayer/player/managers/drag_n_drop.py
  gridplayer/player/managers/grid.py
  gridplayer/player/managers/playlist.py
  gridplayer/player/managers/single_mode.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/utils/misc.py
Due: isort, black

refactor: fix regression for drag-n-drop
  gridplayer/player/manager.py
  gridplayer/player/managers/base.py
  gridplayer/player/managers/mouse_hide.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/widgets/video_overlay.py
Due: isort, black

refactor: rename managers' signals
  gridplayer/player/managers/drag_n_drop.py
  gridplayer/player/managers/instance_listener.py
  gridplayer/player/managers/macos_fileopen.py
  gridplayer/player/managers/playlist.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/player/player.py
Due: isort, black

refactor: fix the way blocks are removed from layout on reload
  gridplayer/player/managers/grid.py
Due: isort, black

refactor: add more cursor tracking conditions
  gridplayer/player/managers/active_block.py
  gridplayer/player/managers/mouse_hide.py
Due: isort, black

refactor: streamline overlay events handling
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_overlay.py
  gridplayer/widgets/video_overlay_buttons.py
  gridplayer/widgets/video_overlay_elements.py
Due: isort, black
