Repository vzhd1701/gridplayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
# pre-commit install
# need commit-msg hook for commitzen
# pre-commit install --hook-type commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-vcs-permalinks
    -   id: end-of-file-fixer
        exclude_types: [svg]
    -   id: trailing-whitespace
        exclude: \.(patch)$
        args: [--markdown-linebreak-ext=md]
    -   id: mixed-line-ending
        exclude_types: [svg]
        args: ['--fix=lf']
    -   id: check-toml
    -   id: check-yaml
    -   id: no-commit-to-branch

-   repo: local
    hooks:
    -   id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

    -   id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

    -   id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat
        types: [markdown]

fix: update yt-dlp and Streamlink
  poetry.lock
  pyproject.toml
Due: none

fix: add h265 and hevc to video extensions
  gridplayer/params/extensions.py
Due: isort, black

fix: allow opening any files
  gridplayer/models/video_uri.py
  gridplayer/player/managers/add_videos.py
Due: isort, black

fix: hide annoying deprecation warnings
  gridplayer/__main__.py
Due: isort, black

fix: increase maximum zoom scale to 10 (max for VLC)
  gridplayer/models/video.py
Due: isort, black

fix: prevent video distortion when rotation is enabled
  gridplayer/vlc_player/player_base.py
Due: isort, black

build(translation): update scripts
  scripts/translations/download.sh
  scripts/translations/upload.sh
Due: none

fix: update translations
  resources/translations/ar_SA.ts
  resources/translations/de_DE.ts
  resources/translations/en_US.ts
  resources/translations/es_ES.ts
  resources/translations/fr_FR.ts
  resources/translations/hu_HU.ts
  resources/translations/it_IT.ts
  resources/translations/ja_JP.ts
  resources/translations/ko_KR.ts
  resources/translations/nl_NL.ts
  resources/translations/pl_PL.ts
  resources/translations/pt_BR.ts
  resources/translations/ru_RU.ts
  resources/translations/zh_CN.ts
Due: none

docs(changelog): update
  CHANGELOG.md
Due: mdformat

chore(release): 0.5.3
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

build: update flatpak scripts
  scripts/_local/flatpak.sh
  scripts/flatpak/app.yml
  scripts/flatpak/app_git.yml
  scripts/flatpak/app_local.yml
  scripts/flatpak/dependencies/pyqt.yml
  scripts/flatpak/generate_dependencies.sh
Due: none

feat: allow rtmp protocol (#165)
  gridplayer/models/video_uri.py
Due: isort, black

Always four videos, drag over replaces
  gridplayer/player/managers/drag_n_drop.py
  gridplayer/player/managers/grid.py
  gridplayer/player/player.py
Due: isort, black

build instructions
  README.md
Due: mdformat

Update and rename video_uri.py to video_uri.py
  gridplayer/models/video_uri.py:allow srt
Due: none

Update next_file.py
  gridplayer/utils/next_file.py
Due: isort, black

Update video_block.py
  gridplayer/widgets/video_block.py
Due: isort, black

Adjusted UI to include Recursive Folder Option
  gridplayer/actions.py
  gridplayer/next_file.py
  gridplayer/settings.py
  gridplayer/static.py
  gridplayer/video_block.py
Due: isort, black

Revert "Adjusted UI to include Recursive Folder Option"
  gridplayer/actions.py
  gridplayer/next_file.py
  gridplayer/settings.py
  gridplayer/static.py
  gridplayer/video_block.py
Due: isort, black

Added Recursive Directory Support to UI
  gridplayer/dialogs/settings.py
  gridplayer/params/actions.py
  gridplayer/params/static.py
  gridplayer/utils/next_file.py
  gridplayer/widgets/video_block.py
Due: isort, black

Added Repeat Mode Caching
  gridplayer/params/actions.py
  gridplayer/params/menu.py
  gridplayer/widgets/video_block.py
Due: isort, black

Revert "feat: allow rtmp protocol (#165)"
  gridplayer/models/video_uri.py
Due: isort, black

fix: update python minimum version to 3.10 and yt-dlp 2025.11.12
  poetry.lock
  pyproject.toml
Due: none

fix: update streamlink to 8.0.0
  gridplayer/utils/stream_proxy/m3u8.py
  gridplayer/utils/stream_proxy/wrappers.py
  poetry.lock
  pyproject.toml
Due: isort, black

fix: change for newer HLSSegment
  gridplayer/utils/stream_proxy/wrappers.py
Due: isort, black

Add new GitHub Actions workflow for newer library versions
  .github/workflows/new_release_github.yml
Due: none

correct version string
  .github/workflows/new_release_github.yml
Due: none

poetry self add poetry-plugin-export
  .github/workflows/new_release_github.yml
Due: none

ci(github): update release workflow
  .github/workflows/release_github.yml
Due: none

chore: drop temporary workflow
  .github/workflows/new_release_github.yml
Due: none

fix: update streamlink, yt-dlp and minimum python version (#271)
  .github/workflows/release_github.yml
  gridplayer/utils/stream_proxy/m3u8.py
  gridplayer/utils/stream_proxy/wrappers.py
  poetry.lock
  pyproject.toml
Due: isort, black

build: update pyproject
  poetry.lock
  pyproject.toml
Due: none

ci(github): update actions
  .github/workflows/release_flatpak.yml
  .github/workflows/release_github.yml
  .github/workflows/release_pypi.yml
  .github/workflows/release_snap.yml
Due: none

build: update pre-commit config
  .pre-commit-config.yaml
Due: none
