Repository vzhd1701/gridplayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat

fix: show source video overlay when dragging
  gridplayer/player/managers/drag_n_drop.py
Due: isort, black

refactor: fix regressions
  gridplayer/playlist.py
  gridplayer/widgets/video_frame_dummy.py
Due: isort, black

refactor: use qt_connect more
  gridplayer/dialogs/settings.py
  gridplayer/player/managers/instance_listener.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_frame_vlc_hw.py
  gridplayer/widgets/video_frame_vlc_sw.py
Due: isort, black

refactor: fix super init signatures
  gridplayer/dialogs/exception.py
  gridplayer/multiprocess/command_loop.py
  gridplayer/multiprocess/process_manager.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_frame_vlc_base.py
  gridplayer/widgets/video_frame_vlc_hw.py
  gridplayer/widgets/video_frame_vlc_sw.py
  gridplayer/widgets/video_overlay.py
  gridplayer/widgets/video_overlay_elements.py
  pyproject.toml
Due: isort, black

refactor: lint
  gridplayer/main/init_app.py
  gridplayer/multiprocess/process_manager.py
  gridplayer/multiprocess/safe_shared_memory.py
  gridplayer/player/manager.py
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/active_block.py
  gridplayer/player/managers/base.py
  gridplayer/player/managers/drag_n_drop.py
  gridplayer/player/managers/log.py
  gridplayer/player/managers/macos_fileopen.py
  gridplayer/player/managers/menu.py
  gridplayer/player/managers/mouse_hide.py
  gridplayer/player/managers/playlist.py
  gridplayer/player/managers/single_mode.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/utils/files.py
  gridplayer/utils/log_config.py
  gridplayer/utils/misc.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_overlay.py
  pyproject.toml
Due: isort, black

refactor: transform context dict into proper object
  gridplayer/main/init_app.py
  gridplayer/player/manager.py
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/active_block.py
  gridplayer/player/managers/base.py
  gridplayer/player/managers/drag_n_drop.py
  gridplayer/player/managers/grid.py
  gridplayer/player/managers/macos_fileopen.py
  gridplayer/player/managers/menu.py
  gridplayer/player/managers/mouse_hide.py
  gridplayer/player/managers/playlist.py
  gridplayer/player/managers/single_mode.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/player/managers/video_driver.py
  gridplayer/player/managers/window_state.py
Due: isort, black

refactor: lint
  gridplayer/dialogs/settings.py
  gridplayer/multiprocess/instance_process.py
  gridplayer/multiprocess/process_manager.py
  gridplayer/params_static.py
  gridplayer/player/managers/grid.py
  gridplayer/utils/excepthook.py
  gridplayer/utils/log_config.py
  gridplayer/utils/misc.py
  gridplayer/utils/time_txt.py
  gridplayer/video.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_frame_vlc_base.py
  gridplayer/widgets/video_frame_vlc_hw.py
  gridplayer/widgets/video_frame_vlc_sw.py
  gridplayer/widgets/video_overlay.py
  gridplayer/widgets/video_overlay_icons.py
  pyproject.toml
Due: isort, black

refactor: fix manager init sequence
  gridplayer/player/manager.py
  gridplayer/player/managers/mouse_hide.py
  gridplayer/player/player.py
Due: isort, black

refactor: fix regressions
  gridplayer/player/managers/macos_fileopen.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/utils/keepawake.py
  gridplayer/utils/libvlc.py
  gridplayer/utils/single_instance.py
Due: isort, black

fix: prevent cursor from hiding while dragging
  gridplayer/player/managers/mouse_hide.py
Due: isort, black

fix: prevent double click on overlay buttons
  gridplayer/widgets/video_overlay_buttons.py
  gridplayer/widgets/video_overlay_elements.py
Due: isort, black

build(macos): fix dark mode support
  scripts/_local/macos.sh
  scripts/pyinstaller/pyinstaller_mac.spec
Due: none

refactor: fix regressions
  gridplayer/player/managers/mouse_hide.py
  scripts/pyinstaller/pyinstaller_win.spec
Due: isort, black

chore(release): 0.1.2
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

ci(github): render bug report logs as shell
  .github/ISSUE_TEMPLATE/bug_template.yml
Due: none

refactor: shorten VLC warning
  gridplayer/main/run.py
Due: isort, black

refactor: increase welcome message font for MacOS
  gridplayer/params_static.py
Due: isort, black

refactor: fix regression
  gridplayer/widgets/video_frame_vlc_sw.py
Due: isort, black

fix: fix hardware decoding in MacOS
  gridplayer/dialogs/settings.py
  gridplayer/params_static.py
  gridplayer/player/managers/video_driver.py
  gridplayer/settings.py
  gridplayer/widgets/video_frame_vlc_base.py
  gridplayer/widgets/video_frame_vlc_hw_sp.py
  gridplayer/widgets/video_overlay.py
Due: isort, black

fix: add missing jump seek actions
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/menu.py
  gridplayer/player/managers/video_blocks.py
Due: isort, black

feat: add fit grid modes
  gridplayer/dialogs/settings.py
  gridplayer/params_static.py
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/grid.py
  gridplayer/player/managers/menu.py
Due: isort, black

refactor: lint
  gridplayer/widgets/video_frame_vlc_base.py
  gridplayer/widgets/video_frame_vlc_hw.py
  gridplayer/widgets/video_frame_vlc_hw_sp.py
  gridplayer/widgets/video_frame_vlc_sw.py
Due: isort, black

chore(release): 0.1.3
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

docs(readme): add macos known issue
  README.md
Due: mdformat

fix: fix error when opening some formats (ts, wmv)
  gridplayer/widgets/video_frame_vlc_base.py
  gridplayer/widgets/video_frame_vlc_sw.py
Due: isort, black

chore(release): 0.1.4
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

fix: add missing library to avoid startup error (windows)
  scripts/pyinstaller/build_win.sh
Due: none

feat: allow seek while dragging cursor
  gridplayer/player/player.py
  gridplayer/widgets/video_overlay.py
  gridplayer/widgets/video_overlay_elements.py
Due: isort, black

refactor: lint
  gridplayer/dialogs/about.py
  gridplayer/main/init_app.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/widgets/video_frame_vlc_base.py
Due: isort, black

chore(release): 0.1.5
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

fix: fix UI scaling with high DPI
  gridplayer/main/init_app.py
Due: isort, black

chore(release): 0.1.6
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

docs(readme): update badges
  README.md
Due: mdformat

feat: add option to disable overlay timeout
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  gridplayer/settings.py
  gridplayer/widgets/video_block.py
  resources/ui/settings_dialog.ui
Due: isort, black

fix: set proper name for about dialog
  gridplayer/dialogs/about_dialog_ui.py
  resources/ui/about_dialog.ui
Due: isort, black

refactor: handle all paths using pathlib
  gridplayer/dialogs/settings.py
  gridplayer/main/init_utils.py
  gridplayer/settings.py
  gridplayer/utils/app_dir.py
  gridplayer/utils/files.py
  gridplayer/utils/log_config.py
Due: isort, black

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
