Repository vzhd1701/gridplayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

mdformat:
  name: mdformat
  stages:
  - commit
  language: system
  entry: poetry run mdformat

fix: add best quality / aduio only selectors as separate stream quality menu items, drop worst
  gridplayer/models/stream.py
  gridplayer/params/defaults_fields.py
  gridplayer/player/managers/active_block.py
  gridplayer/widgets/video_block.py
  tests/test_menu_stream_quality.py
  tests/test_streams_fit_to_height.py
  tests/test_video_block_quality_adapt.py
Due: isort, black

fix: use proper button role for stop to avoid gap on macos
  gridplayer/dialogs/checkup.py
Due: isort, black

build: use python3 instead of python for creating venv
  scripts/init_app_vars.sh
Due: none

feat: add setting to manually set JS runtime path + improve auto detection
  README.md
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  gridplayer/settings.py
  gridplayer/utils/js_runtime.py
  gridplayer/utils/network.py
  gridplayer/utils/url_resolve/resolver_yt_dlp.py
  gridplayer/utils/ytdlp_checkup.py
  resources/ui/settings_dialog.ui
  tests/test_checkup_dialog.py
  tests/test_settings_js_runtime.py
  tests/test_ytdl_js_runtimes.py
  tests/test_ytdlp_checkup.py
Due: isort, black, mdformat

test: speed up test servers shut down and hide everything during tests
  tests/conftest.py
Due: isort, black

fix: improve looping mechanics
  gridplayer/params/static.py
  gridplayer/vlc_player/player_base.py
  gridplayer/vlc_player/static.py
  gridplayer/widgets/video_block.py
  tests/test_video_block_repeat.py
  tests/test_vlc_player_loop.py
Due: isort, black

fix: restore audio track after seeking hls/dash streams
  gridplayer/vlc_player/player_base.py
  tests/test_vlc_player_loop.py
Due: isort, black

fix: execute end action on seek past the end if there is no loop
  gridplayer/widgets/video_block.py
  tests/test_video_block_repeat.py
Due: isort, black

fix: slightly improve next/previous frame seeking
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_frame_vlc_base.py
  tests/test_video_block_frame_step.py
Due: isort, black

feat: add option to attach external audio tracks
  gridplayer/models/audio_selection.py
  gridplayer/models/playlist.py
  gridplayer/models/video.py
  gridplayer/params/defaults_fields.py
  gridplayer/params/static.py
  gridplayer/player/managers/active_block.py
  gridplayer/settings.py
  gridplayer/utils/external_audio.py
  gridplayer/vlc_player/player_base.py
  gridplayer/vlc_player/player_base_threaded.py
  gridplayer/vlc_player/player_tracks_manager.py
  gridplayer/vlc_player/static.py
  gridplayer/vlc_player/video_driver_base.py
  gridplayer/vlc_player/video_driver_base_threaded.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_frame_dummy.py
  gridplayer/widgets/video_frame_vlc_base.py
  gridplayer/widgets/video_frame_vlc_hw_sp.py
  gridplayer/widgets/video_frame_vlc_sw.py
  gridplayer/widgets/video_frame_vlc_sw_sp.py
  tests/test_audio_selection.py
  tests/test_audio_track_defaults.py
  tests/test_audio_track_preference.py
  tests/test_external_audio_discovery.py
  tests/test_managers_playlist.py
  tests/test_menu_audio_click.py
  tests/test_menu_audio_track.py
  tests/test_video_block_audio_language.py
  tests/test_video_block_external_audio.py
  tests/test_vlc_player_audio_slaves.py
Due: isort, black

feat: add option to set audio delay
  gridplayer/dialogs/audio_delay.py
  gridplayer/models/video.py
  gridplayer/params/actions.py
  gridplayer/params/menu.py
  gridplayer/params/static.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/vlc_player/player_base.py
  gridplayer/vlc_player/player_tracks_manager.py
  gridplayer/vlc_player/video_driver_base.py
  gridplayer/vlc_player/video_driver_base_threaded.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_frame_dummy.py
  gridplayer/widgets/video_frame_vlc_base.py
  gridplayer/widgets/video_frame_vlc_hw_sp.py
  gridplayer/widgets/video_frame_vlc_sw_sp.py
  tests/test_menu_audio_delay.py
  tests/test_video_block_audio_delay.py
  tests/test_vlc_player_tracks_manager.py
Due: isort, black

feat: add support for selecting subtitles encoding
  gridplayer/dialogs/playlist_settings.py
  gridplayer/dialogs/subtitle_encoding.py
  gridplayer/models/playlist.py
  gridplayer/models/video.py
  gridplayer/params/defaults_fields.py
  gridplayer/params/subtitle_encodings.py
  gridplayer/player/managers/active_block.py
  gridplayer/player/managers/playlist.py
  gridplayer/player/managers/settings.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/player/player.py
  gridplayer/settings.py
  gridplayer/vlc_player/player_base.py
  gridplayer/widgets/combo_box.py
  gridplayer/widgets/defaults_form.py
  gridplayer/widgets/video_block.py
  tests/test_menu_subtitle_delay.py
  tests/test_menu_subtitle_track.py
  tests/test_subtitle_encoding.py
Due: isort, black

feat: add subtitle style settings
  gridplayer/dialogs/settings.py
  gridplayer/dialogs/settings_dialog_ui.py
  gridplayer/params/defaults_fields.py
  gridplayer/params/static.py
  gridplayer/params/subtitle_style.py
  gridplayer/player/managers/settings.py
  gridplayer/settings.py
  gridplayer/vlc_player/instance.py
  gridplayer/widgets/defaults_form.py
  resources/ui/settings_dialog.ui
  tests/test_settings_sections.py
  tests/test_subtitle_style.py
Due: isort, black

feat: add option to select audio device per video
  gridplayer/models/audio_device.py
  gridplayer/models/video.py
  gridplayer/params/actions.py
  gridplayer/params/menu.py
  gridplayer/player/managers/active_block.py
  gridplayer/resources/icons/dark/scalable/audio-device.svg
  gridplayer/resources/icons/light/scalable/audio-device.svg
  gridplayer/vlc_player/player_base.py
  gridplayer/vlc_player/static.py
  gridplayer/vlc_player/video_driver_base.py
  gridplayer/vlc_player/video_driver_base_threaded.py
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_frame_dummy.py
  gridplayer/widgets/video_frame_vlc_base.py
  gridplayer/widgets/video_frame_vlc_hw_sp.py
  gridplayer/widgets/video_frame_vlc_sw_sp.py
  resources/icons/custom/audio device.svg
  resources/resources.csv
  tests/test_audio_device_selection.py
  tests/test_menu_audio_device.py
  tests/test_video_block_audio_device.py
  tests/test_vlc_player_audio_device.py
Due: isort, black

fix: speed up closing videos that are in process of URL resolving
  gridplayer/utils/url_resolve/url_resolve.py
  tests/test_url_resolve_cleanup.py
Due: isort, black

fix: add curl-cffi to enable yt-dlp browser impersonation
  gridplayer/dialogs/about.py
  gridplayer/utils/url_resolve/resolver_yt_dlp.py
  pyproject.toml
  scripts/flatpak/generate_dependencies.sh
  scripts/pyinstaller/build_mac.sh
  scripts/pyinstaller/build_win.sh
  tests/test_resolver_yt_dlp_streams.py
  uv.lock
Due: isort, black

fix: improve live stream detection to avoid streaming videos getting cut short
  gridplayer/utils/stream_proxy/m3u8.py
  gridplayer/utils/stream_proxy/wrappers.py
  tests/test_stream_proxy_playlists.py
Due: isort, black

fix: check for end of HLS playlist before treating it as live
  gridplayer/utils/url_resolve/stream_detect.py
  tests/test_stream_detect_hls_live.py
Due: isort, black

fix: keep AES-128 key when proxying HLS playlists
  gridplayer/utils/stream_proxy/m3u8.py
  gridplayer/utils/stream_proxy/wrappers.py
  tests/test_stream_proxy_playlists.py
Due: isort, black

fix: improve wayland/x detection on linux, fallback to SW on pure wayland
  gridplayer/dialogs/settings.py
  gridplayer/main/init_app.py
  gridplayer/main/init_cli.py
  gridplayer/params/env.py
  gridplayer/player/managers/video_driver.py
  gridplayer/utils/log.py
  gridplayer/utils/video_driver.py
  tests/test_cli_args.py
  tests/test_pure_wayland.py
Due: isort, black

fix: change window frame dynamically with system theme change on wayland
  gridplayer/params/theme.py
  gridplayer/utils/wayland_window.py
  tests/test_wayland_window.py
Due: isort, black

fix: follow system cursor style on wayland
  gridplayer/main/init_app.py
  gridplayer/params/theme.py
  gridplayer/utils/darkmode_linux.py
  gridplayer/utils/wayland.py
  gridplayer/utils/wayland_window.py
  tests/test_wayland.py
  tests/test_wayland_window.py
Due: isort, black

docs(changelog): update
  CHANGELOG.md
Due: mdformat

ci(github): update workflow permissions
  .github/workflows/release_flatpak.yml
  .github/workflows/release_pypi.yml
  .github/workflows/release_snap.yml
  .github/workflows/update_crowdin.yml
Due: none

ci(github): add epoch stamp to pypi workflow
  .github/workflows/release_pypi.yml
Due: none

ci(github): add test and pre-release workflow
  .github/workflows/build.yml
  .github/workflows/prerelease_github.yml
  .github/workflows/release_github.yml
  .github/workflows/test.yml
  justfile
  scripts/appimage/build_docker.sh
  scripts/init_app_vars.sh
  scripts/linux_meta/build.sh
  scripts/macos/build_dmg.sh
  scripts/pyinstaller/pyinstaller_mac.spec
  scripts/pyinstaller/version_info.py
  scripts/stamp_dev_version.py
  scripts/windows/build_packages.sh
  scripts/windows/installer.iss
Due: isort, black

fix: parse -- properly for older pythons
  gridplayer/main/init_cli.py
  tests/test_cli_args.py
Due: isort, black

fix: parse local addresses with port properly for older pythons
  gridplayer/utils/network_checkup.py
Due: isort, black

ci(github): add draft flag to pre-release workflow
  .github/workflows/prerelease_github.yml
Due: none

test: fix linux stuff
  tests/conftest.py
  tests/test_drag_n_drop.py
  tests/test_native_surface_geometry.py
Due: isort, black

fix: don't hang for 25s per check when the desktop portal never answers on linux
  gridplayer/utils/darkmode_linux.py
  tests/test_darkmode_linux.py
Due: isort, black

test: make cookie expiry and js runtime dir tests independent of timezone and username
  tests/test_cookie_store_list.py
  tests/test_ytdl_js_runtimes.py
Due: isort, black

ci(github): install uv for the appimage build, linux metadata needs it
  .github/workflows/build.yml
Due: none

build: update vlc and pyinstaller for win and mac
  scripts/pyinstaller/build_mac.sh
  scripts/pyinstaller/build_win.sh
Due: none

perf: speed up startup time by deferring some imports
  gridplayer/dialogs/about.py
  gridplayer/dialogs/settings.py
  gridplayer/params/env.py
  gridplayer/player/managers/stream_proxy.py
  gridplayer/utils/libvlc_fixer.py
  gridplayer/utils/log.py
  gridplayer/utils/network.py
  gridplayer/utils/url_resolve/url_resolve.py
  tests/test_settings_js_runtime.py
Due: isort, black

fix: renew refused hls segments instead of failing or restarting the video
  gridplayer/utils/stream_proxy/server.py
  gridplayer/utils/stream_proxy/session.py
  gridplayer/utils/stream_proxy/wrappers.py
  tests/test_stream_proxy_hls_renewal.py
Due: isort, black

fix: don't crash the player's command thread when two threads send at once
  gridplayer/multiprocess/command_loop.py
  tests/test_command_loop.py
Due: isort, black

fix: fail fast on streams and files that never start playing
  gridplayer/vlc_player/player_base.py
  tests/test_vlc_player_loop.py
Due: isort, black

fix: reload a dubbed stream in its own language when audio goes back to default
  gridplayer/widgets/video_block.py
  tests/test_audio_track_preference.py
  tests/test_menu_audio_click.py
  tests/test_video_block_audio_language.py
  tests/test_video_block_external_audio.py
Due: isort, black

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  mdformat: any of: \.(md|markdown|mdown)$
