Repository vzhd1701/gridplayer: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, mdformat

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
# pre-commit install
# need commit-msg hook for commitzen
# pre-commit install --hook-type commit-msg

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: check-vcs-permalinks
    -   id: end-of-file-fixer
        exclude_types: [svg]
    -   id: trailing-whitespace
        exclude: \.(patch)$
        args: [--markdown-linebreak-ext=md]
    -   id: mixed-line-ending
        exclude_types: [svg]
        args: ['--fix=lf']
    -   id: check-toml
    -   id: check-yaml
    -   id: no-commit-to-branch

-   repo: local
    hooks:
    -   id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

    -   id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

    -   id: mdformat
        name: mdformat
        stages: [commit]
        language: system
        entry: poetry run mdformat
        types: [markdown]

feat: add volume controls into context menu
  gridplayer/params/actions.py
  gridplayer/params/menu.py
  gridplayer/player/manager.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/utils/command_helpers.py
  gridplayer/widgets/video_block.py
  resources/icons/custom/057-volume increase.svg
  resources/icons/custom/058-volume decrease.svg
  resources/icons/custom/059-volume unmute.svg
  resources/resources.csv
Due: isort, black

refactor: use floats for scale limits
  gridplayer/models/video.py
Due: isort, black

build: update linter settings
  pyproject.toml
Due: none

docs(readme): replace PNG logo with SVG
  README.md
  resources/public/logo.png
  resources/public/logo.svg
Due: mdformat

chore: add license for Hack font
  resources/fonts/Hack/Hack-Bold.ttf
  resources/fonts/Hack/Hack-BoldItalic.ttf
  resources/fonts/Hack/Hack-Italic.ttf
  resources/fonts/Hack/Hack-Regular.ttf
  resources/fonts/Hack/LICENSE.md
  resources/resources.csv
Due: mdformat

feat: add single mode switch into context menu
  gridplayer/params/actions.py
  gridplayer/params/menu.py
  gridplayer/player/manager.py
  gridplayer/player/managers/single_mode.py
  gridplayer/utils/command_helpers.py
  resources/icons/custom/060-single mode on.svg
  resources/icons/custom/061-single mode off.svg
  resources/resources.csv
Due: isort, black

fix: disable video controls if no video track
  gridplayer/params/actions.py
  gridplayer/player/managers/active_block.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/widgets/video_block.py
Due: isort, black

fix: kill process silently on KeyboardInterrupt
  gridplayer/multiprocess/instance_process.py
Due: isort, black

fix: hide volume button if no audio tracks
  gridplayer/widgets/video_block.py
  gridplayer/widgets/video_overlay.py
Due: isort, black

fix: fix crash when opening a playlist
  gridplayer/player/managers/playlist.py
Due: isort, black

fix: fix crash when loop start/end unset in playlist
  gridplayer/widgets/video_block.py
Due: isort, black

docs(readme): update info about linux black screen glitch
  README.md
Due: mdformat

fix: update icon for [ALL]
  resources/icons/custom/009-all.svg
  resources/icons/custom/009-play all.svg
  resources/resources.csv
Due: none

feat: allow context menu items to be toggleable
  gridplayer/params/actions.py
  gridplayer/params/menu.py
  gridplayer/player/managers/actions.py
  gridplayer/player/managers/video_blocks.py
  gridplayer/player/player.py
  resources/icons/custom/062-play pause.svg
  resources/resources.csv
Due: isort, black

refactor: user PortableText format for keyboard shortcuts
  gridplayer/params/actions.py
  gridplayer/player/managers/actions.py
Due: isort, black

refactor: use more consistent style for menus
  gridplayer/player/managers/menu.py
  gridplayer/widgets/custom_menu.py
  gridplayer/widgets/resolver_patterns_list.py
Due: isort, black

feat: add Arabic translation
  README.md
  gridplayer/params/languages.py
  resources/icons/flags/ar_SA.svg
  resources/resources.csv
  resources/translations/ar_SA.ts
Due: isort, black, mdformat

feat: add German translation
  README.md
  gridplayer/params/languages.py
  resources/icons/flags/de_DE.svg
  resources/resources.csv
  resources/translations/de_DE.ts
Due: isort, black, mdformat

feat: add Spanish translation
  README.md
  gridplayer/params/languages.py
  resources/icons/flags/es_ES.svg
  resources/resources.csv
  resources/translations/es_ES.ts
Due: isort, black, mdformat

feat: add French translation
  README.md
  gridplayer/params/languages.py
  resources/icons/flags/fr_FR.svg
  resources/resources.csv
  resources/translations/fr_FR.ts
Due: isort, black, mdformat

feat: add Italian translation
  README.md
  gridplayer/params/languages.py
  resources/icons/flags/it_IT.svg
  resources/resources.csv
  resources/translations/it_IT.ts
Due: isort, black, mdformat

feat: add Japanese translation
  README.md
  gridplayer/params/languages.py
  resources/icons/flags/ja_JP.svg
  resources/resources.csv
  resources/translations/ja_JP.ts
Due: isort, black, mdformat

feat: add Korean translation
  README.md
  gridplayer/params/languages.py
  resources/icons/flags/ko_KR.svg
  resources/resources.csv
  resources/translations/ko_KR.ts
Due: isort, black, mdformat

feat: add Dutch translation
  README.md
  gridplayer/params/languages.py
  resources/icons/flags/nl_NL.svg
  resources/resources.csv
  resources/translations/nl_NL.ts
Due: isort, black, mdformat

feat: add Polish translation
  README.md
  gridplayer/params/languages.py
  resources/icons/flags/pl_PL.svg
  resources/resources.csv
  resources/translations/pl_PL.ts
Due: isort, black, mdformat

feat: add Portuguese, Brazilian translation
  README.md
  gridplayer/params/languages.py
  resources/icons/flags/pt_BR.svg
  resources/resources.csv
  resources/translations/pt_BR.ts
Due: isort, black, mdformat

feat: add Chinese Simplified translation
  README.md
  gridplayer/params/languages.py
  resources/icons/flags/zh_CN.svg
  resources/resources.csv
  resources/translations/zh_CN.ts
Due: isort, black, mdformat

build(translations): fix downloader script
  scripts/translations/download.sh
Due: none

fix: update yt-dlp and Streamlink
  gridplayer/utils/url_resolve/resolver_streamlink.py
  poetry.lock
  pyproject.toml
Due: isort, black

fix: avoid crash on missing VLC
  gridplayer/utils/libvlc_fixer.py
Due: isort, black

ci(github): update workflows
  .github/workflows/release_flatpak.yml
  .github/workflows/release_github.yml
  .github/workflows/release_pypi.yml
  .github/workflows/release_snap.yml
Due: none

ci(github): update release workflow
  .github/workflows/release_github.yml
Due: none

build(snap): update snapcraft build script
  scripts/snap/apt_dl.sh
  scripts/snap/snapcraft.yaml
Due: none

docs(changelog): update
  CHANGELOG.md
Due: mdformat

chore(release): 0.5.0
  CHANGELOG.md
  README.md
  gridplayer/version.py
  pyproject.toml
Due: isort, black, mdformat

build(flatpak): fix toplevel-cleanup-debug error
  scripts/flatpak/app.yml
Due: none

ci(github): update snap release workflow
  .github/workflows/release_snap.yml
Due: none

build(windows): update pyinstaller script
  scripts/pyinstaller/build_win.sh
  scripts/pyinstaller/hook_lib.py
  scripts/pyinstaller/pyinstaller_win.spec
Due: isort, black

build(windows): fix pyinstaller script
  scripts/pyinstaller/build_win.sh
Due: none
